
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url();
}

header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Distribuye logo y enlaces */
    align-items: center; /* Centra verticalmente los elementos */
}

.nav-logo img {
    height: 40px; /* Aumenta el tamaño del logo */
    width: auto;  /* Deja que la imagen mantenga su proporción */
}

.nav-links {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Los enlaces estarán en línea */
    gap: 20px; /* Espaciado entre enlaces */
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007bff; /* Color al pasar el mouse */
}
.container{
    background-color: lightblue ;
}

[href="https://listado.mercadolibre.com.co/discos-acetatos#D[A:discos%20acetatos]"]{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 32px;
        color: darkmagenta;
}

h1{
    text-align: center;
}

a{ 
    font-family:'Courier New', Courier, monospace;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: gold;
}

.lista{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #4c59ae;
}
.lista .disco{
    width: 300px;
    color: #fff;
    background-color: #667238;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.disco img{
    width: 70px;
    height: auto;
    margin-bottom: 20px;  
}

p:first-child{
    color: red;
}