a{
    padding: 1em;
    margin: 1em;
    border: 1px solid brown;
}

a.link{
    color: black;
}

a:hover{
    color: bisque;
    background: gray;
}

a:active{
    color: chartreuse;
    background: black;
}

a:visited{
    color: cadetblue;
}

[type="radio"]:checked + label{
    font-weight: bold;
    color: coral;
    background: rgba(40, 40, 144, 0.961);
}

div, fieldset{
    margin: 2em;
}
input:required + .requiredfield{
  display: block;
  color: gray; 
}

input:required:valid + .requiredfield{
    display: none;
}

input:out-of-range:invalid{
    color: red;
    border: 2px dotted currentColor;
    background: lightpink;
}

input:in-range:valid{
    color:green;
    border: 2px solid currentColor;
    background: lightgreen;
}

input:invalid{
    border: 2px solid red;
}

input:valid{
    border: 2px solid green;
}

input:focus{
    border: 5px solid orange;
    outline: orange auto 10px;
}

:required ~ [type="submit"] , :required:valid ~ [type="submit"] :disabled{
    display: none;
}

:required:valid ~ [type="submit"], :required ~ [type="submit"]:disabled{
    display: inline-block;
}